{% extends 'base.html' %}

{% block opcionesNavbar %}
{% endblock %}

{% block content %}

    <section class="gestiondepto">

        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'ReservaList' %}"><button class="diseñobtnvolver"><i class="fa-solid fa-arrow-left"></i> Volver</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <br>
                <h2>Ingresar Check Out</h2><hr><br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="{{ form.subject.0 }}">Check Out: </label>
                        {{form.visible_fields.0}}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="{{ form.subject.2 }}">Registro estado CHECK IN: </label>
                        {{form.visible_fields.2}}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="{{ form.subject.1 }}">Ingrese estado CHECK OUT: </label>
                        {{form.visible_fields.1}}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="{{ form.subject.3 }}">Multa: </label>
                        {{form.visible_fields.3}}
                    </div>
                    {{ form.errors }}
                    <div class="form-group nav justify-content-end">
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>

                </form>
            </div>
            
        </div>
    </section>

{% endblock %}