.departamentos-home{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.departamentos-home .card {
    max-width: 1125px;
    display: flex;
    justify-content: center;
}

.departamentos-home .card a {
    text-decoration: none;
    color: black;
}


.departamentos-home .contenedor{

    justify-content: center;


}

.detalle-depto{
    margin-top:20px;
    padding-left: 20px;
    padding-right: 10px;
}

.detalle-depto .rosa {
    background-color: #ddecf1;
    border-radius: 50px;
    margin-bottom: 20px;
}

.rosa .rowvalor .col{
    text-align: center;
}

.rosa .rowreserva .col{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.detalle-depto .reserva {
    padding: 15px;
    border-radius: 50px;
    border: 2px solid;
    background-color: #366f85;
    border-color: #254a59;
    color: white;
    width: 300px;
    margin-top: 30px;
}


.detalle-depto .reserva:hover {
    border-color: #172d36;
    background-color: #254a59;
    color: rgb(220, 220, 220);
}

.img-principal {
    max-width: 745px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.img-secundaria {
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    margin-bottom: 2px;
}


.div-img {
    overflow: hidden;
}

.div-img img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.div-img img:hover {
    transform: scale(1.2);
}



.asistentes {
    max-width: 355px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

.transporte{
    max-height: 50px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

.Descripcion{
    padding-left: 10px;
    padding-right: 30px;
}

.col-location{

}

.location{
    max-width: 200px;
    max-height: 200px;
    height: 100%;
    width: 100%;
    

}