footer {
    background-color: #366f85;
    padding-top: 20px;
    padding-bottom: 20px;
}



.footer {
    padding-left: 50px;
    padding-right: 20px;
    
}


.footer h2{
    color: whitesmoke;
}

.footer p {
    color: white;
}




