.home_admin {
    margin: 50px;
    text-align: center;
    height: 400px;
    margin-bottom: 100px;
}

.checkin{
    margin: 50px;
    height: 400px;
    margin-bottom: 200px;
}

.detalleReserva{
    margin: 50px;
    height: 400px;
    margin-bottom: 200px;
}

.detalleReserva h4 {
    text-align: center;
}

.centrado {
    margin-top: 20px;
    margin-bottom: 50px;
}


.col-admin{
    display: flex;
    justify-content: center;

}

.col-admin button {
    padding: 15px;
    border-radius: 50px;
    border: 2px solid;
    border-color: #ecdbe8;
    background-color: #fef1fe;
    width: 300px;
    margin-top: 30px;

}

.col-admin button:hover {
    border-color: #9b8e99;
    background-color: #f6dbf6;
}

.col-admin .dropdown-menu li a:hover{
    background-color:#a985ef;
    color: white;
}

/* GESTION DE DEPARTAMENTOS  */

.gestiondepto {
    padding: 20px;
}

.dise単obtnvolver {
    border-radius: 50px;
    padding: 10px;
    width: 110px;
    font-weight: bold;
    color: white;
    background-color: #5c16e8;
}

.dise単obtnvolver:hover {
    background-color: #2c0181;
    color: rgb(204, 204, 204);
}

.dise単obtnagregar {
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    font-weight: bold;
    color: white;
    background-color: #5c16e8;
}

.dise単obtnagregar:hover {
    background-color: #2c0181;
    color: rgb(204, 204, 204);
}

.gestiontitulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

td a {
    margin-right: 3px;
}

/* AGREGAR DEPARTAMENTO */
.agregardepto {
    padding: 20px;
}


/* GESTION DE USUARIOS */

.gestionusuarios {
    padding: 20px;
}


/* GESTION DE TOURS  */

.gestiontour {
    padding: 20px;
}

/* AGREGAR TOUR */

.agregartour {
    padding: 20px;
}

.btn-clist {
    background-color: #a985ef;
    color: white;
}

.btn-clist:hover{
    background-color: #8769c3;
    color: white;
    border: 1px solid;
}