
.inicioSesion{
    padding: 120px;
}

#btnIniciarSesion{
    background-color: #366f85;
    color: white;
    border-radius: 50px;
    width: 400px;
    height: 50px;
}

#btnIniciarSesion:hover{
    background-color: #0c546c;

}


#formLogin {
    width: 600px;
}

#loginCOL {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.anotherLogin i {
    font-size: 2.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}