{% extends 'base.html' %}
 
{% block content %} 
    
    <section>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ups</h5>
                  <p class="card-text">La página se encuentra en mantenimiento. Disculpe las molestias.</p>
                  <p class="card-text"><small class="text-muted">Vuelva a probar en unos minutos.</small></p>
                </div>
              </div>
            </div>
          </div>
    </section>
 
{% endblock %} 
